.cross-detail{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cross-detail-main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.cross-detail-img{
    width: 40%;
    height: 100%;
}

.cross-detail-main-info-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
}

.cross-detail-params{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 150px;
}

.cross-detail-param{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}

.cross-detail-name{
    font-weight: bold;
}

.add-to-cart-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 150px;
}

.add-to-cart-btn{
    border: 3px solid black;
    padding: 10px;
}