#cross-descr{
    display: flex;
    height: 1200px;
    flex-direction: column;
    justify-content: space-between;
}

.cross-descr-main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.cross-descr-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 250px;
    width: 40%;
}

.cross-descr-cart-btn{
    font-size: 16px;
    border: 3px solid black;
    width: 30%;
    height: 20%;
}

.cross-descr-parameters{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.cross-descr-param-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.would-like-crosses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

.would-like-crosses-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.would-like-cross-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.would-like-cross-card-img{
    width: 200px;
    height: 172px;
}

.would-like-cross-card-name{
    font-weight: bold;
}

.cross-descr-text{
    text-align: right;
}