nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    color: white;
    background: black;
}

.site-name-nav{
    font-size: 24px;
    text-transform: uppercase;
}

.nav-separator{
    width: 800px;
}

.left-nav-side-panel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90px;
}

.left-nav-side-img{
    width: 35px;
    height: 30px;
}