nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: black;
    width: 100%;
    height: 150px;
    color: white;
}

.site-name-nav{
    font-size: 24px;
    text-transform: uppercase;
}