.crosses-section{
    margin-top: 100px;
}

.latest-crosses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.crosses-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.cross-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 450px;
    width: 250px;
}

.cross-card-img{
    width: 200px;
    height: 172px;
}

.cross-card-name{
    font-weight: bold;
}

.cross-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.discount-value::before{
    content: "-";
}

.discount-value::after{
    content: "%";
}

.show-all-crosses-link{
    align-self: flex-end;
    margin-top: 50px;
}