.discount-crosses{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    /* width: 100%; */
}

.discount-crosses-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
 
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    #main-content{
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}