body{
    font-family: Inter;
    padding: 0;
    margin: 0;
}

button{
    cursor: pointer;
}

section{
    width: 93%;
    margin-left: 50px;
}

main{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.search-name{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.search-name-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}

.search-name-input{
    height: 25px;
}

.search-param{
    margin-top: 50px;
}

.search-param-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.search-param-group{
    width: 100px;
}

.search-param-groups
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.search-param-btn{
    margin-top: 25px;
    height: 30px;
    width: 100px
}

.search-param-group-box{
    margin: 0;
}

.search-param-group-params-list{
    margin-top: 10px;
}

.search-param-group-param{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}